# Secrets & Configs (Recursive)
**/application-prod.yml
**/secret.yaml

# Build Artifacts
**/build/
**/dist/
**/out/
**/node_modules/
**/.gradle/

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Logs
*.log
**/logs/

# md
CLAUDE.md
GEMINI.md
DEVOPS_GUIDE.md

# .claude
.claude/

# .gemini
.gemini/
.github/commands
.github/workflows

gha-creds-*.json
