# Environment Variables
.env
.env.local
.env.*.local
*.env
!.env.example

# Secrets & Configs (Recursive)
**/application-prod.yml
**/application-aws.yml
**/application-secret.yml
**/secret.yaml
k8s/secret.yaml

# Build Artifacts
**/build/
**/dist/
**/out/
**/node_modules/
**/.gradle/

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Logs
*.log
**/logs/

# md
CLAUDE.md
GEMINI.md
DEVOPS_GUIDE.md
