# k8s 디렉토리 전체 리소스를 묶어 한 번에 배포하기 위한 진입점입니다.
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# 모든 리소스를 maplog 네임스페이스로 강제합니다.
# TODO: 팀/환경 규칙에 맞는 네임스페이스 이름으로 변경하세요.
namespace: maplog
# 공통 라벨로 동일 애플리케이션 소속임을 표시합니다.
labels:
  - pairs:
      app.kubernetes.io/part-of: maplog
# ArgoCD/Jenkins가 관리할 리소스 목록입니다.
resources:
  - namespace.yaml
  - secrets/mariadb-secret.yaml
  - secrets/backend-secret.yaml
  - backend/pvc.yaml
  - mariadb/pvc.yaml
  - mariadb/deployment.yaml
  - mariadb/service.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
  - ingress/ingress.yaml
# Jenkins가 변경할 이미지 태그 관리 지점입니다.
images:
  # 이미지 레포지토리는 Docker Hub 계정 wjdqudwlsdev 기준입니다.
  - name: docker.io/wjdqudwlsdev/maplog-backend
    # TODO: 운영에서는 latest 대신 빌드 번호/커밋 SHA 태그를 사용하세요.
    newTag: latest
  # 이미지 레포지토리는 Docker Hub 계정 wjdqudwlsdev 기준입니다.
  - name: docker.io/wjdqudwlsdev/maplog-frontend
    # TODO: 운영에서는 latest 대신 빌드 번호/커밋 SHA 태그를 사용하세요.
    newTag: latest
