apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: map-log
spec:
  selector:
    app: mariadb
  ports:
  - port: 3306
    targetPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: map-log-backend
  namespace: map-log
spec:
  selector:
    app: map-log-backend
  ports:
  - port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: map-log-frontend
  namespace: map-log
spec:
  type: NodePort
  selector:
    app: map-log-frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
