# k8s deployment specific properties
cloud:
  aws:
    s3:
      bucket: ${CLOUD_AWS_S3_BUCKET}
    region:
      static: ${CLOUD_AWS_REGION_STATIC}
    credentials:
      access-key: ${CLOUD_AWS_CREDENTIALS_ACCESS_KEY}
      secret-key: ${CLOUD_AWS_CREDENTIALS_SECRET_KEY}
